/*Notes in CSS */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap');

*{ /*Resetting the page*/
    margin: 0;
    padding: 0;
}

body{
    background-color: seagreen;
}

header{
    background-color: skyblue;
    height: auto;
    text-align: center;
}

nav ul li{
    list-style: none; /* Removing the dots from the list*/
    display: inline-block;
    padding: 15px;
    border: 5px;
    margin: 20px;;
}

nav ul{
    margin-bottom: 0px;
}

ul li{
    padding: 10px;
    border: 5px;
    margin: 5px;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    padding: 15px;
    border: 5px;
    margin-bottom: 15px;
    text-align: center;
    border-style: dashed;
    border-color: rgb(73, 20, 220);
    color: blue;
}

h2{
    padding: 10px;
    border: 5px;
    margin: 10px;
    color: midnightblue;
}

h3{
    padding: 5px;
    border: 5px;
    margin: 7px;
    color: midnightblue;
}

h4{
    padding: 5px;
    color: midnightblue;
}

p{
    padding: 5px;
    margin: 5px;
    font-family: 'Ubuntu', sans-serif;
    text-indent: 35px;
}

footer{
    background-color: skyblue;
    height: 102px;
    width: 100%;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

section ul{
    list-style: none;
}

.gridContainer{
    grid-template-columns: repeat(2, 650px);
    grid-template-rows: auto;
    display: grid;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "three four"
    "twelve eleven"
    "one two"
    "six five"
    "seven eight"
    "ten nine";    
}

.serieAcontainer{
    grid-template-columns: repeat(2, 630px);
    grid-template-rows: auto;
    display: grid;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-template-areas:
    "nine eleven"
    "ten twelve"
    "one five"
    "two six"
    "three seven"
    "four eight";
}

.laLigaContainer{
    grid-template-columns: repeat(2, 650px);
    grid-template-rows: auto;
    display: grid;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    "three eleven"
    "four twelve"
    "one five"
    "two six"
    "seven nine"
    "eight ten";   
}

.gridItem{
    margin: 20px;
    border: solid 3px;
    border-color: navy;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
}

.gridItem img{
    overflow: hidden;
}

.gridItem li{
    display: inline-block;
}

.One{
    grid-area: one;
}

.Two{
    grid-area: two;
}

.Three{
    grid-area: three;
}

.Four{
    grid-area: four;
}

.Five{
    grid-area: five;
}

.Six{
    grid-area: six;
}

.Seven{
    grid-area: seven;
}

.Eight{
    grid-area: eight;
}

.Nine{
    grid-area: nine;
}

.Ten{
    grid-area: ten;
}

.Eleven{
    grid-area: eleven;
}

.Twelve{
    grid-area: twelve;
}

.footer{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1366px){
    .gridContainer{
        grid-template-columns: repeat(2, 450px);
    }

    .serieAcontainer{
        grid-template-columns: repeat(2, 435px);
    }

    .laLigaContainer{
        grid-template-columns: repeat(2, 450px);
    }
}

@media screen and (max-width: 1024px){
    .gridContainer{
        grid-template-columns: 650px;
        grid-template-areas: 
        "three"
        "four"
        "eleven"
        "twelve"
        "one"
        "two"
        "five"
        "six"
        "seven"
        "eight"
        "nine"
        "ten";
    }
    
    .serieAcontainer{
        grid-template-columns: 635px;
        grid-template-areas:
        "nine"
        "ten"
        "eleven"
        "twelve"
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven"
        "eight";
    }

    .laLigaContainer{
        grid-template-columns: 650px;
        grid-template-areas:
        "three"
        "four"
        "eleven"
        "twelve"
        "one"
        "two"
        "five"
        "six"
        "seven"
        "eight"
        "nine"
        "ten";
    }
}

@media screen and (max-width: 720px) {
    .gridContainer{
        grid-template-columns: 375px;
    }

    .serieAcontainer{
        grid-template-columns: 350px;
    }
    
    .laLigaContainer{
        grid-template-columns: 375px;
    }
}

@media screen and (max-width: 420px){
    .gridContainer{
        grid-template-columns: 275px;
    }

    .serieAcontainer{
        grid-template-columns: 250px;
    }

    .laLigaContainer{
        grid-template-columns: 275px;
    }
}