h1{
    @include box(15px, 5px, 0px);
    @include titles();
    text-align: center;
    border-style: dashed;
    border-color:rgb(34, 59, 160);
}

h2{
    @include box();
    @include titles();
}

h3{
    @include box();
    @include titles();
}

h4{
    @include box();
    @include titles();
}

p{
    @include box();
    font-family: 'Ubuntu', sans-serif;
    text-indent: 35px;
    text-align: justify;
}

div ul{
    @include box(0px, 0px, 0px);
    li{
        @extend p;
        list-style: none;
    }
}