img:hover{
    width: 90%;
    margin-right: 0px;
    margin-left: 0px;
}

.left:hover, .right:hover, img:hover{
    transition: all 1s;
}

.left:hover{
    transform: skew(10deg);
}

.right:hover{
    transform: skew(-10deg);
}