/*Notes in CSS */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap');
@import "text";

*{ //Resetting the page
    margin: 0;
    padding: 0;
}

body{
    background-color: seagreen;
}

.navbar-collapse{
    justify-content: center;
}

.navbar-expand-lg, .footer{
    background-color: skyblue;
}

img{
    overflow: hidden;
    width: 100%;
    border-color: navy;
    border-style: solid;
    margin-bottom: 25px;
}

.rowTwo{
    background-color: rgb(87, 108, 188);
}

.rowOne{
    background-color: rgb(165, 215, 232);
}

.row{
    align-items: center;
}